{% extends 'base.html.twig' %}


{% block title %}Liste des sorties{% endblock %}


{% block main %}

<div>
    <h3>Rechercher des sorties</h3>
    <form method="GET">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Campus</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Nantes</option>
                <option>Saint-Herblain</option>
                <option>Rennes</option>
                <option>La Roche sur Yon</option>
                <option>Chartre De Bretagne</option>
            </select>
        </div>
        <div>
        <input class="form-control mr-sm-2" type="search" placeholder="recherche par mots clés" aria-label="Search">
        </div>

        <div class="date">
        <label for="start">A partir de: </label>

        <input type="date" id="start" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        </div>
        <div class="date">
        <label for="end">Jusqu'à:  </label>

        <input type="date" id="end" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        </div>
        <div class="form-check col-8">
            <input class="form-check-input" type="checkbox" value="" id="organisateur">
            <label class="form-check-label" for="organisateur">
                Sorties dont je suis l'organisateur/trice
            </label>
        </div>
        <div class="form-check col-8">
            <input class="form-check-input" type="checkbox" value="" id="inscrit">
            <label class="form-check-label" for="inscrit">
                Sorties auxquelles je suis inscrit/e
            </label>
        </div>
        <div class="form-check col-8">
            <input class="form-check-input" type="checkbox" value="" id="pasInscrit">
            <label class="form-check-label" for="pasInscrit">
                Sorties auxquelles je ne suis pas inscrit/e
            </label>
        </div>
        <div class="form-check col-8">
            <input class="form-check-input" type="checkbox" value="" id="sortiePassé">
            <label class="form-check-label" for="sortiePassé">
                Sorties passées
            </label>

        </div>

        <button type="submit" class="btn btn-info" id="bouton">Rechercher</button>

    </form>
</div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Participants</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}

            <tr>
                <td><a href="{{ path('sortie_detail',{'id':sortie.id}) }}"> {{ sortie.nom }}</a></td>
                <td>{{ sortie.dateDebut | date('Y-m-d H:i:s') }}</td>
                <td>{{ sortie.dateCloture | date('Y-m-d H:i:s')}}</td>
                <td>{{ sortie.inscriptions.count }}/{{ sortie.nbInscriptionsMax}} </td>
                <td>{{ sortie.Etat}}</td>
                <td>
                    <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">inscriptions</a>

                     {# if(sortie.id in app.user.inscriptions.get(['sortie_id'], sortie.id)) #}
                    {# if(sortie.inscriptions.matching("['participant_id'] == app.user.id")) #}

                </td>
                                <td>
                    <a href="{{ path('profilParticipant',{'id':sortie.organisateur.id}) }}"> {{ sortie.organisateur.pseudo}}</a></td>
                <td>
                    {% if (sortie.organisateur.id == app.user.id) %}
                    <a href="{{path('sortie_publier',{'id':sortie.id})}}">publier</a><a href="{{path('sortie_modifier',{'id':sortie.id})}}">modifier</a><a href="{{path('sortie_annuler',{'id':sortie.id})}}">annuler</a></td>
                    {% else %}
                        <a href="{{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>




    <a href="{{ path('sortie_add') }}" type="submit" class="btn btn-info">Créer une sortie</a>

        {% endblock %}

