{% extends 'base.html.twig' %}


{% block title %}Liste des sorties{% endblock %}


{% block main %}

<div>
    <h3>Rechercher des sorties</h3>
    <form method="GET" action="{{ path('findForm') }}">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Campus</label>
            <select class="form-control" id="exampleFormControlSelect1" name="campus">
                {% for campu in campus %}
                    <option value="{{ campu.id }}">{{ campu.nomCampus }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
        <input class="form-control mr-sm-2" type="search" placeholder="recherche par mots clés" name="recherche" aria-label="Search">
        </div>

        <div class="date">
        <label for="start">A partir de: </label>
        <input type="date" id="start" name="start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        </div>
        <div class="date">
        <label for="end">Jusqu'à:  </label>
        <input type="date" id="end" name="end"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">
        </div>

        <button type="submit" class="btn btn-info" id="bouton">Rechercher</button>
    </form>
</div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Participants</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sortiesActives %}

            <tr>
                <td><a href="{{ path('sortie_detail',{'id':sortie.id}) }}"> {{ sortie.nom }}</a></td>
                <td>{{ sortie.dateDebut | date('Y/m/d H:i') }}</td>
                <td>{{ sortie.dateCloture | date('Y/m/d H:i')}}</td>
                <td>{{ sortie.inscriptions.count }}/{{ sortie.nbInscriptionsMax}} </td>
                <td>{% if sortie.etat is same as 2 %}<p>Ouverte</p>{% elseif sortie.etat is same as 1 %}<p>Créée</p>{% elseif sortie.etat is same as 6 %}<p>Annulée</p>{% elseif sortie.etat is same as 4 %}<p>Activitée en cours</p>{% elseif sortie.etat is same as 3 %}<p>Clôturée</p>{% elseif sortie.etat is same as 5 %}<p>Passée</p>{% endif %}</td>
                <td><a href="{{ path('sortie_detail',{'id':sortie.id}) }}">inscriptions</a></td>
                <td><a href="{{ path('profilParticipant',{'id':sortie.organisateur.id}) }}"> {{ sortie.organisateur.pseudo}}</a></td>
                {% if(app.user is same as(sortie.organisateur)) %}<td><a href="{{path('sortie_publier',{'id':sortie.id})}}">publier</a><a href="{{path('sortie_modifier',{'id':sortie.id})}}">modifier</a><a href="{{path('sortie_annuler',{'id':sortie.id})}}">annuler</a></td>{% else %}
                    <td><a href="{{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a></td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('sortie_add') }}" type="submit" class="btn btn-info">Créer une sortie</a>

        {% endblock %}

