<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajouter une sortie !</title>
</head>
<body>
    <h1>Ajouter une sortie de votre cru</h1>
        <div class="formulaire">
            {{ form_start(sortieAddForm) }}

            {{ form_row(sortieAddForm.nom) }}
            {{ form_row(sortieAddForm.dateDebut) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.nbInscriptionsMax) }}
            {{ form_row(sortieAddForm.duree) }}
            {{ form_row(sortieAddForm.infosSortie) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.lieu) }}
            {{ form_row(sortieAddForm.etat) }}
            {{ form_row(sortieAddForm.organisateur) }}
            {{ form_row(sortieAddForm.etatSortie) }}


            <button type="submit">Créer une sortie</button>

            {{ form_end(sortieAddForm) }}
        </div>
</body>
</html>