{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
    <h1>Ajouter une sortie de votre choix</h1>
        <div class="formulaire">
            {{ form_start(sortieAddForm) }}

            {{ form_row(sortieAddForm.nom) }}
            {{ form_row(sortieAddForm.dateDebut) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.nbInscriptionsMax) }}
            {{ form_row(sortieAddForm.duree) }}
            {{ form_row(sortieAddForm.infosSortie) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.lieu) }}
            {{ form_row(sortieAddForm.etat) }}

            <button class="btn btn-info" type="submit">Publier la sortie</button>

            {{ form_end(sortieAddForm) }}
        </div>
{% endblock %}