{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block main %}
    <h3>Formulaire d'ajout de sortie</h3>
    <div class="row justify-content-center">
         <div class="Formulaire">
            {{ form_start(sortieAddForm) }}

            {{ form_row(sortieAddForm.nom) }}
            {{ form_row(sortieAddForm.dateDebut) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.nbInscriptionsMax) }}
            {{ form_row(sortieAddForm.duree) }}
            {{ form_row(sortieAddForm.infosSortie) }}
            {{ form_row(sortieAddForm.dateCloture) }}
            {{ form_row(sortieAddForm.lieu) }}
            <button class="btn btn-info" type="submit">Créer la sortie</button>
            {{ form_end(sortieAddForm) }}
        </div>
    </div>
{% endblock %}