{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}
{% block flash %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success" role="alert">
            {{ message }}</div>
    {% endfor %}
{% endblock %}

{% block main %}
    <h2>La sortie en détail</h2>
    <div class="profil">
        <div>
            <p><strong>Nom de la sortie :</strong> {{ sortie.nom }}</p>
            <p><strong>Date et heure de la sortie : </strong>{{ sortie.dateDebut | date('d/m/Y') }}</p>
            <p><strong>Date limite d'inscription : </strong>{{ sortie.dateCloture | date('d/m/Y') }}</p>
            <p><strong>Nb de places :</strong>{{ sortie.nbInscriptionsMax }}</p>
            <p><strong>Durée : </strong>{{ sortie.duree }} heures</p>
            <p><strong>Descriptions et infos : </strong>{{ sortie.infosSortie }}</p>
            <p><strong>Ville : </strong>{{ sortie.lieu }}</p>
        </div>

        <a href="{{ path('sortie_modifier',{'id': sortie.id}) }}" class="btn btn-info">Modifier la sortie</a>
        <a href="{{ path('sortie_annuler',{'id': sortie.id}) }}" class="btn btn-info">Annuler la sortie</a>
    </div>
    <div>
        <h3>Liste des participants inscrits</h3>

        <ul>
            {% for participant in participants %}
               <li><a href="{{ path('profilParticipant', {'id': participant.id}) }}"> {{participant.pseudo}}, Campus: {{ participant.campus.nomCampus }}</a></li>
            {% endfor %}
        </ul>
    <div class="profil">

{% endblock %}