{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block main %}
    <h2>La sortie en détail</h2>

    <p><strong>Nom de la sortie :</strong> {{ sortie.nom }}</p>
    <p><strong>Date et heure de la sortie : </strong>{{ sortie.dateDebut | date('d/m/Y') }}</p>
    <p><strong>Date limite d'inscription : </strong>{{ sortie.dateCloture | date('d/m/Y') }}</p>
    <p><strong>Nb de places :</strong>{{ sortie.nbInscriptionsMax }}</p>
    <p><strong>Durée : </strong>{{ sortie.duree }} minutes</p>
    <p><strong>Descriptions et infos : </strong>{{ sortie.infosSortie }}</p>
    <p><strong>Ville : </strong>{{ sortie.lieu }}</p>
    <br>
    <h3>Liste des participants inscrits</h3>



{% endblock %}