{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block main %}

    <h2>Modifier la sortie</h2>
    <div class="row m-0 justify-content-center">
        <div class="Formulaire">

            {{ form_start(sortieModifForm) }}
            {{ form_widget(sortieModifForm) }}
            <button type="submit" class="btn btn-info">Modifier</button>
            {{ form_start(sortieModifForm) }}

            <span><a href="{{path('sortie_annuler',{'id':sortie.id})}}" class="btn btn-info">Annuler la sortie</a></span>
            <span><a href="{{path('home')}}" class="btn btn-info">Annuler</a></span>
        </div>
    </div>

{% endblock %}

