{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie{% endblock %}

{% block main %}

    <h2>Modifier la sortie</h2>
    <div id="Formulaire" class="row m-0 justify-content-center">

        {{ form_start(sortieModifForm) }}
        {{ form_widget(sortieModifForm) }}
        <button type="submit" class="btn btn-info">Modifier</button>
        <a href="{{ path('list') }}" type="reset" class="btn btn-info">Annuler</a>
        {{ form_start(sortieModifForm) }}


        <span><a href="{{path('sortie_publier',{'id':sortie.id})}}" class="btn btn-info">Publier la sortie</a></span>
        <span><a href="{{path('sortie_annuler',{'id':sortie.id})}}" class="btn btn-info">Annuler la sortie</a></span>
        <span><a href="{{path('home')}}" class="btn btn-info">Annuler</a></span>
    </div>

{% endblock %}

