{% extends 'base.html.twig' %}

{% block title %}Profil participant{% endblock %}

{% block main %}
   <div><img alt="photo de profil" src="{{ asset(participant.photoProfil) }}" width="150" /> </div>
   <div><h2>{{ participant.pseudo }}</h2></div>
    <div><p><strong>Nom: </strong>{{ participant.nom }}<p></div>
    <div><p><strong>Prenom:</strong> {{ participant.prenom }}<p></div>
    <div><p><strong>Téléphone: </strong>{{ participant.telephone }}<p></div>
    <div><p><strong>Email:</strong> {{ participant.mail }}<p></div>
    <div><p><strong>Campus:</strong> {{ participant.campus.nomCampus }}<p></div>

    <div><a href="{{ path('modifProfil') }}" class="btn btn-info">Modifier profil</a></div>

{% endblock %}