{% extends 'base.html.twig' %}

{% block title %}Profil Participant{% endblock %}

{% block main %}
    <div>
        <div><h2>{{ participant.pseudo }}</h2> <img alt="photo de profil" src="{{ asset(participant.photoProfil) }}"  width="150"/> </div>
        <p><strong>Nom: </strong>{{ participant.nom }}</p>
        <p><strong>Prenom: </strong>{{ participant.prenom }}</p>
        <p><strong>Téléphone: </strong>{{ participant.telephone }}</p>
        <p><strong>Email: </strong>{{ participant.mail }}</p>
        <p><strong>Campus: </strong>{{ participant.campus.nomCampus }}</p>
    </div>
{% endblock %}